.container
{
    margin-top: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left
{
    background-color: rgb(253, 70, 70);
    border-radius: 20px;
    margin: 30px;
}

.right
{
    background-color: lightslategray;
    border-radius: 20px;
    margin: 30px;
}

.left:hover,.right:hover
{
    transform: scale(1.2);
    transition: transform 0.3s;
    cursor: pointer;
}

img { 
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
  }